.beerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  .imageContainer {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    .image {
      height: 150px;
      transition: scale 1s;
      &:hover {
        scale: 1.3;
      }
    }
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--light);
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    width: 100%;
    height: 350px;
    padding: 20px;
    .name {
      color: var(--primary-light);
      font-weight: 700;
    }
    .description {
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: small;
      line-height: 18px;
    }
    .food {
      font-size: small;
      height: 100px;
      ul {
        padding: 0;
        line-height: 18px;
      }
    }
    .indicators {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: small;
      height: 40px;

      .bitternessBorderBar {
        border: 1px solid var(--primary-light);
        border-radius: var(--border-radius);
        height: 10px;
        box-shadow: var(--box-shadow-indicators);
        .bitternessBar {
          background-color: var(--primary-light);
          height: 9px;
          border-radius: var(--border-radius);
        }
      }

      .alcoholContainer {
        background-color: var(--primary-light);
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: var(--box-shadow-indicators);
      }
    }
  }
}
