:root {
  --primary: #214341;
  --primary-light: #79beb3;
  --warning: #9c0055;
  --dark: #001510;
  --light: #ebf2e8;
  --text-color: #001510;
  --font-familly: "Montserrat", sans-serif;
  --border-radius: 8px;
  --box-shadow: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --box-shadow-indicators: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
