:root {
  --primary: #214341;
  --primary-light: #79beb3;
  --warning: #9c0055;
  --dark: #62625e;
  --light: #ebf2e8;
  --text-color: #001510;
  --font-familly: "Montserrat", sans-serif;
  --border-radius: 8px;
}
