@use "assets/styles/mixins" as mixin;
.homepageContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .homepageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .grid {
      display: grid;
      place-content: center center;
      grid-template-columns: repeat(4, 350px);
      gap: 20px;
      @include mixin.xs-medium {
        grid-template-columns: 1fr;
      }
      @include mixin.xs-medium {
        grid-template-columns: 1fr;
      }
      @include mixin.large {
        grid-template-columns: repeat(2, 350px);
      }
      @include mixin.xl {
        grid-template-columns: repeat(3, 350px);
      }
      @include mixin.xxl {
        grid-template-columns: repeat(4, 350px);
      }
    }
    .loadMoreBeers {
      margin: 20px;
      padding: 20px;
      background-color: var(--primary-light);
      border: 1px solid var(--primary-light);
      color: var(--dark);
      border-radius: var(--border-radius);
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        background-color: var(--light);
      }
    }
    .loadMoreBeers {
      margin: 20px;
      padding: 20px;
      background-color: var(--primary-light);
      border: 1px solid var(--primary-light);
      color: var(--dark);
      border-radius: var(--border-radius);
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        background-color: var(--light);
      }
    }
  }
}
